name: Flake8

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12", "3.13", "3.14"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install PDM
      uses: pdm-project/setup-pdm@v3
    - name: Install dependencies
      run: pdm install
    - name: Analysing the code with flake8
      run: |
        pdm run flake8 $(git ls-files '*.py')
